In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
!wget -q !wget -q https://dlcdn.apache.org/spark/spark-3.5.3/spark-3.5.3-bin-hadoop3.tgz

In [ ]:
!tar xf spark-3.5.3-bin-hadoop3.tgz

In [ ]:
!pip install -q findspark

In [ ]:
!pip install -q pyspark

In [ ]:
import os
os.environ['JAVA_HOME'] = '/usr/lib/jvm/java-8-openjdk-amd64'
os.environ['SPARK_HOME'] = '/content/spark-3.5.3-bin-hadoop3'

In [ ]:
import findspark
findspark.init()

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
        .master('local[*]')\
        .appName('yampet')\
        .getOrCreate()

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving pet.csv to pet.csv
Saving pessoa_juridica.csv to pessoa_juridica.csv
Saving pessoa_fisica.csv to pessoa_fisica.csv
Saving login.csv to login.csv
Saving contato.csv to contato.csv

In [ ]:
#criação dos dados
df_contato = spark.read.csv('contato.csv', header=True, inferSchema=True)

In [ ]:
df_contato.printSchema()

root
 |-- id_contato: integer (nullable = true)
 |-- telefone: long (nullable = true)
 |-- email: string (nullable = true)
 |-- fk_pf: string (nullable = true)
 |-- fk_pj: string (nullable = true)

In [ ]:
df_login = spark.read.csv('login.csv', header=True, inferSchema=True)

In [ ]:
df_login.printSchema()

root
 |-- id_login: integer (nullable = true)
 |-- usuario: string (nullable = true)
 |-- senha: string (nullable = true)

In [ ]:
df_pessoaJuridica = spark.read.csv('pessoa_juridica.csv', header=True, inferSchema=True)

In [ ]:
df_pessoaJuridica.printSchema()

root
 |-- id_pj: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- cnpj: long (nullable = true)
 |-- fk_endereco: integer (nullable = true)
 |-- fk_login: integer (nullable = true)

In [ ]:
df_pessoaFisica = spark.read.csv('pessoa_fisica.csv', header=True, inferSchema=True)

In [ ]:
df_pessoaFisica.printSchema()

root
 |-- id_pf: integer (nullable = true)
 |-- nome: string (nullable = true)
 |-- cpf: long (nullable = true)
 |-- idade: integer (nullable = true)
 |-- data_nascimento: date (nullable = true)
 |-- sexo: string (nullable = true)
 |-- estado_civil: string (nullable = true)
 |-- fk_endereco: integer (nullable = true)
 |-- fk_login: integer (nullable = true)

In [ ]:
df_pet = spark.read.csv('pet.csv', header=True,inferSchema=True)

In [ ]:
df_pet.printSchema()

root
 |-- id_pet: integer (nullable = true)
 |-- nome: string (nullable = true)
 |-- especie: string (nullable = true)
 |-- raca: string (nullable = true)
 |-- cor: string (nullable = true)
 |-- situacao: string (nullable = true)
 |-- enfermo: string (nullable = true)
 |-- descricao: string (nullable = true)
 |-- fk_login: integer (nullable = true)
 |-- fk_pf: integer (nullable = true)
 |-- fk_pj: integer (nullable = true)

In [ ]:
df_contato.show(), df_login.show(), df_pessoaJuridica.show(), df_pessoaFisica.show(), df_pet.show()

+----------+-----------+--------------------+-----+-----+
|id_contato|   telefone|               email|fk_pf|fk_pj|
+----------+-----------+--------------------+-----+-----+
|      3308|21987654920|contato600@exampl...| NULL| 1199|
|      3307|21987654919|contato599@exampl...| NULL| 1198|
|      3306|21987654918|contato598@exampl...| NULL| 1197|
|      3305|21987654917|contato597@exampl...| NULL| 1196|
|      3304|21987654916|contato596@exampl...| NULL| 1195|
|      3303|21987654915|contato595@exampl...| NULL| 1194|
|      3302|21987654914|contato594@exampl...| NULL| 1193|
|      3301|21987654913|contato593@exampl...| NULL| 1192|
|      3300|21987654912|contato592@exampl...| NULL| 1191|
|      3299|21987654911|contato591@exampl...| NULL| 1190|
|      3298|21987654910|contato590@exampl...| NULL| 1189|
|      3297|21987654909|contato589@exampl...| NULL| 1188|
|      3296|21987654908|contato588@exampl...| NULL| 1187|
|      3295|21987654907|contato587@exampl...| NULL| 1186|
|      3294|21987654906|contato586@exampl...| NULL| 1185|
|      3293|21987654905|contato585@exampl...| NULL| 1184|
|      3292|21987654904|contato584@exampl...| NULL| 1183|
|      3291|21987654903|contato583@exampl...| NULL| 1182|
|      3290|21987654902|contato582@exampl...| NULL| 1181|
|      3289|21987654901|contato581@exampl...| NULL| 1180|
+----------+-----------+--------------------+-----+-----+
only showing top 20 rows

+--------+----------+--------+
|id_login|   usuario|   senha|
+--------+----------+--------+
|     600|usuario600|senha600|
|     599|usuario599|senha599|
|     598|usuario598|senha598|
|     597|usuario597|senha597|
|     596|usuario596|senha596|
|     595|usuario595|senha595|
|     594|usuario594|senha594|
|     593|usuario593|senha593|
|     592|usuario592|senha592|
|     591|usuario591|senha591|
|     590|usuario590|senha590|
|     589|usuario589|senha589|
|     588|usuario588|senha588|
|     587|usuario587|senha587|
|     586|usuario586|senha586|
|     585|usuario585|senha585|
|     584|usuario584|senha584|
|     583|usuario583|senha583|
|     582|usuario582|senha582|
|     581|usuario581|senha581|
+--------+----------+--------+
only showing top 20 rows

+-----+--------------------+--------------+-----------+--------+
|id_pj|       nome_fantasia|          cnpj|fk_endereco|fk_login|
+-----+--------------------+--------------+-----------+--------+
| 1200|Cãonstruindo Hist...|21222334000399|        600|     600|
| 1199|    Bicho do Coração|10111223000398|        599|     599|
| 1198|       Pet e Amizade|98990000000397|        598|     598|
| 1197|    Patas que Cuidam|87888990000396|        597|     597|
| 1196|      Cão do Coração|76777889000395|        596|     596|
| 1195|     Amigo das Patas|65666778000394|        595|     595|
| 1194|         Pet do Amor|54555667000393|        594|     594|
| 1193|         Cãonhecidos|43444556000392|        593|     593|
| 1192|     Patas e Alegria|32333445000391|        592|     592|
| 1191|      Bichos e Afeto|21222334000390|        591|     591|
| 1190|  Cãomunidade Animal|10111223000389|        590|     590|
| 1189|      Pet e Aventura|98990000000388|        589|     589|
| 1188|         Cãodimensão|87888990000387|        588|     588|
| 1187|     Amor a Cada Cão|76777889000386|        587|     587|
| 1186|       Pet e Sorriso|65666778000385|        586|     586|
| 1185|  Cãomunidade de Luz|54555667000384|        585|     585|
| 1184|       Pet Abençoado|43444556000383|        584|     584|
| 1183|    Patas de Coração|32333445000382|        583|     583|
| 1182|       Bicho Amoroso|21222334000381|        582|     582|
| 1181| Cãomunidade do Amor|10111223000380|        581|     581|
+-----+--------------------+--------------+-----------+--------+
only showing top 20 rows

+-----+------------------+-----------+-----+---------------+---------+------------+-----------+--------+
|id_pf|              nome|        cpf|idade|data_nascimento|     sexo|estado_civil|fk_endereco|fk_login|
+-----+------------------+-----------+-----+---------------+---------+------------+-----------+--------+
|  898|marcelinho carioca|88765432201|   36|     1987-11-15|Masculino|  Divorciado|          2|     299|
|  899|         Ana Costa|77654321112|   30|     1993-12-20| Feminino|      Casado|          1|     300|
|  896|      Lucas Santos|11098765477|   34|     1989-09-20|Masculino|       Viúvo|          4|     297|
|  897|     Sofia Almeida|99876543290|   28|     1995-10-10| Feminino|    Solteiro|          3|     298|
|  893|  Fernanda Almeida|44321098744|   30|     1993-06-15| Feminino|    Solteiro|          7|     294|
|  894|   Carlos Oliveira|33210987655|   36|     1987-07-10|Masculino|      Casado|          6|     295|
|  895|    Bruna Ferreira|22109876566|   30|     1993-08-15| Feminino|  Divorciado|          5|     296|
|  890|      Gabriel Lima|77654321111|   30|     1993-03-25|Masculino|      Casado|         10|     291|
|  891|      Karina Costa|66543211022|   29|     1994-04-10| Feminino|  Divorciado|          9|     292|
|  892|     Thiago Santos|55432109833|   34|     1989-05-20|Masculino|       Viúvo|          8|     293|
|  888|    Diego Ferreira|99876543289|   30|     1993-01-15|Masculino|       Viúvo|         12|     289|
|  889|   Tatiane Almeida|88765432200|   34|     1989-02-20| Feminino|    Solteiro|         11|     290|
|  886|  Fernando Almeida|22109876565|   34|     1989-11-05|Masculino|      Casado|         14|     287|
|  887|   Gabriela Santos|11098765476|   36|     1987-12-25| Feminino|  Divorciado|         13|     288|
|  883|      Ana Ferreira|55432109832|   34|     1989-08-25| Feminino|  Divorciado|         17|     284|
|  884|      Ricardo Lima|44321098743|   30|     1993-09-30|Masculino|       Viúvo|         16|     285|
|  885|       Bruna Costa|33210987654|   26|     1997-10-15| Feminino|    Solteiro|         15|     286|
|  881|    Juliana Santos|77654321110|   34|     1989-06-10| Feminino|    Solteiro|         19|     282|
|  882|   Eduardo Almeida|66543211021|   29|     1994-07-20|Masculino|      Casado|         18|     283|
|  879| Gabriela Ferreira|99876543288|   36|     1987-04-20| Feminino|  Divorciado|         21|     280|
+-----+------------------+-----------+-----+---------------+---------+------------+-----------+--------+
only showing top 20 rows

+------+--------+-------+--------+---------+--------+-------+--------------------+--------+-----+-----+
|id_pet|    nome|especie|    raca|      cor|situacao|enfermo|           descricao|fk_login|fk_pf|fk_pj|
+------+--------+-------+--------+---------+--------+-------+--------------------+--------+-----+-----+
|   376|    Ruby|   Gato|  Siamês|   Branco|   Venda|    Não|Gata doce e adorá...|     376|    0|  976|
|   377|  Copper|    Cão| Pitbull|    Preto|  Adoção|    Não|Pitbull fiel e pr...|     377|    0|  977|
|   374|  Pepper|   Gato|     SRD|    Preto|   Venda|    Não|Gata suave e afet...|     374|    0|  974|
|   375|Maverick|    Cão|   Husky|    Cinza|  Adoção|    Sim|Husky energético ...|     375|    0|  975|
|   373|  Ranger|    Cão|  Beagle| Tricolor|  Adoção|    Não|Beagle curioso e ...|     373|    0|  973|
|   372|  Willow|   Gato|   Persa|    Cinza|   Venda|    Não|Gata elegante e t...|     372|    0|  972|
|   370|   Amber|   Gato|  Bengal|   Marrom|   Venda|    Não|Gata ativa e chei...|     370|    0|  970|
|   371| Charlie|    Cão|Labrador|Chocolate|  Adoção|    Sim|Labrador leal e c...|     371|    0|  971|
|   369|    Bear|    Cão|  Golden|  Dourado|  Adoção|    Não|Golden brincalhão...|     369|    0|  969|
|   368|    Nala|   Gato|  Siamês|   Branco|   Venda|    Não|Gata doce e carin...|     368|    0|  968|
|   366|Samantha|   Gato|     SRD|    Cinza|   Venda|    Não|Gata tranquila e ...|     366|    0|  966|
|   367|    Finn|    Cão| Pitbull|    Preto|  Adoção|    Sim|Pitbull afetuoso ...|     367|    0|  967|
|   365|   Rusty|    Cão|  Beagle| Tricolor|  Adoção|    Não|Beagle amigável e...|     365|    0|  965|
|   364|   Misty|   Gato|  Bengal|   Marrom|   Venda|    Não|Gata ativa e chei...|     364|    0|  964|
|   363|    Jake|    Cão|Labrador|    Preto|  Adoção|    Sim|Labrador leal e a...|     363|    0|  963|
|   362|   Roxie|   Gato|   Persa|  Laranja|   Venda|    Não|Gata brincalhona ...|     362|    0|  962|
|   361|   Scout|    Cão|   Husky|   Branco|  Adoção|    Não|Husky aventureiro...|     361|    0|  961|
|   360|   Daisy|   Gato|     SRD|    Preto|   Venda|    Não|Gata carinhosa e ...|     360|    0|  960|
|   359|     Leo|    Cão| Pitbull|    Cinza|  Adoção|    Sim|Pitbull fiel e pr...|     359|    0|  959|
|   357|  Apollo|    Cão| Bulldog|   Branco|  Adoção|    Não|Bulldog afetuoso ...|     357|    0|  957|
+------+--------+-------+--------+---------+--------+-------+--------------------+--------+-----+-----+
only showing top 20 rows

(None, None, None, None, None)

In [ ]:
#selecionar colunas
pF = df_pessoaFisica.select('nome','estado_civil')

In [ ]:
pF.show()

+------------------+------------+
|              nome|estado_civil|
+------------------+------------+
|marcelinho carioca|  Divorciado|
|         Ana Costa|      Casado|
|      Lucas Santos|       Viúvo|
|     Sofia Almeida|    Solteiro|
|  Fernanda Almeida|    Solteiro|
|   Carlos Oliveira|      Casado|
|    Bruna Ferreira|  Divorciado|
|      Gabriel Lima|      Casado|
|      Karina Costa|  Divorciado|
|     Thiago Santos|       Viúvo|
|    Diego Ferreira|       Viúvo|
|   Tatiane Almeida|    Solteiro|
|  Fernando Almeida|      Casado|
|   Gabriela Santos|  Divorciado|
|      Ana Ferreira|  Divorciado|
|      Ricardo Lima|       Viúvo|
|       Bruna Costa|    Solteiro|
|    Juliana Santos|    Solteiro|
|   Eduardo Almeida|      Casado|
| Gabriela Ferreira|  Divorciado|
+------------------+------------+
only showing top 20 rows

In [ ]:
from pyspark.sql import functions as F

pF = df_pessoaFisica.select('nome', 'estado_civil')

pF_R = pF.groupBy('estado_civil').agg(F.count('nome').alias('quantidade'))

pF_R.show()

+------------+----------+
|estado_civil|quantidade|
+------------+----------+
|       Viúvo|        74|
|  Divorciado|        75|
|    Solteiro|        75|
|      Casado|        76|
+------------+----------+

In [ ]:
df_pessoaFisica.createOrReplaceTempView("pessoaFisica")
df_pet.createOrReplaceTempView("pet")

In [ ]:
spark.sql("SELECT * FROM pessoaFisica").show(25)

+-----+------------------+-----------+-----+---------------+---------+------------+-----------+--------+
|id_pf|              nome|        cpf|idade|data_nascimento|     sexo|estado_civil|fk_endereco|fk_login|
+-----+------------------+-----------+-----+---------------+---------+------------+-----------+--------+
|  898|marcelinho carioca|88765432201|   36|     1987-11-15|Masculino|  Divorciado|          2|     299|
|  899|         Ana Costa|77654321112|   30|     1993-12-20| Feminino|      Casado|          1|     300|
|  896|      Lucas Santos|11098765477|   34|     1989-09-20|Masculino|       Viúvo|          4|     297|
|  897|     Sofia Almeida|99876543290|   28|     1995-10-10| Feminino|    Solteiro|          3|     298|
|  893|  Fernanda Almeida|44321098744|   30|     1993-06-15| Feminino|    Solteiro|          7|     294|
|  894|   Carlos Oliveira|33210987655|   36|     1987-07-10|Masculino|      Casado|          6|     295|
|  895|    Bruna Ferreira|22109876566|   30|     1993-08-15| Feminino|  Divorciado|          5|     296|
|  890|      Gabriel Lima|77654321111|   30|     1993-03-25|Masculino|      Casado|         10|     291|
|  891|      Karina Costa|66543211022|   29|     1994-04-10| Feminino|  Divorciado|          9|     292|
|  892|     Thiago Santos|55432109833|   34|     1989-05-20|Masculino|       Viúvo|          8|     293|
|  888|    Diego Ferreira|99876543289|   30|     1993-01-15|Masculino|       Viúvo|         12|     289|
|  889|   Tatiane Almeida|88765432200|   34|     1989-02-20| Feminino|    Solteiro|         11|     290|
|  886|  Fernando Almeida|22109876565|   34|     1989-11-05|Masculino|      Casado|         14|     287|
|  887|   Gabriela Santos|11098765476|   36|     1987-12-25| Feminino|  Divorciado|         13|     288|
|  883|      Ana Ferreira|55432109832|   34|     1989-08-25| Feminino|  Divorciado|         17|     284|
|  884|      Ricardo Lima|44321098743|   30|     1993-09-30|Masculino|       Viúvo|         16|     285|
|  885|       Bruna Costa|33210987654|   26|     1997-10-15| Feminino|    Solteiro|         15|     286|
|  881|    Juliana Santos|77654321110|   34|     1989-06-10| Feminino|    Solteiro|         19|     282|
|  882|   Eduardo Almeida|66543211021|   29|     1994-07-20|Masculino|      Casado|         18|     283|
|  879| Gabriela Ferreira|99876543288|   36|     1987-04-20| Feminino|  Divorciado|         21|     280|
|  880|   Carlos Oliveira|88765432199|   30|     1993-05-15|Masculino|       Viúvo|         20|     281|
|  876|    Ricardo Santos|33210987653|   26|     1997-01-20|Masculino|       Viúvo|         24|     277|
|  877|   Mariana Almeida|22109876564|   30|     1993-02-15| Feminino|    Solteiro|         23|     278|
|  878|     Fernando Lima|11098765475|   34|     1989-03-10|Masculino|      Casado|         22|     279|
|  875|     Tatiane Costa|44321098742|   34|     1989-12-25| Feminino|  Divorciado|         25|     276|
+-----+------------------+-----------+-----+---------------+---------+------------+-----------+--------+
only showing top 25 rows

In [ ]:
spark.sql("SELECT * FROM pet").show(10)

+------+--------+-------+--------+---------+--------+-------+--------------------+--------+-----+-----+
|id_pet|    nome|especie|    raca|      cor|situacao|enfermo|           descricao|fk_login|fk_pf|fk_pj|
+------+--------+-------+--------+---------+--------+-------+--------------------+--------+-----+-----+
|   376|    Ruby|   Gato|  Siamês|   Branco|   Venda|    Não|Gata doce e adorá...|     376|    0|  976|
|   377|  Copper|    Cão| Pitbull|    Preto|  Adoção|    Não|Pitbull fiel e pr...|     377|    0|  977|
|   374|  Pepper|   Gato|     SRD|    Preto|   Venda|    Não|Gata suave e afet...|     374|    0|  974|
|   375|Maverick|    Cão|   Husky|    Cinza|  Adoção|    Sim|Husky energético ...|     375|    0|  975|
|   373|  Ranger|    Cão|  Beagle| Tricolor|  Adoção|    Não|Beagle curioso e ...|     373|    0|  973|
|   372|  Willow|   Gato|   Persa|    Cinza|   Venda|    Não|Gata elegante e t...|     372|    0|  972|
|   370|   Amber|   Gato|  Bengal|   Marrom|   Venda|    Não|Gata ativa e chei...|     370|    0|  970|
|   371| Charlie|    Cão|Labrador|Chocolate|  Adoção|    Sim|Labrador leal e c...|     371|    0|  971|
|   369|    Bear|    Cão|  Golden|  Dourado|  Adoção|    Não|Golden brincalhão...|     369|    0|  969|
|   368|    Nala|   Gato|  Siamês|   Branco|   Venda|    Não|Gata doce e carin...|     368|    0|  968|
+------+--------+-------+--------+---------+--------+-------+--------------------+--------+-----+-----+
only showing top 10 rows

In [ ]:
#Aqui verifica se tem correspodencia entre pessoaFisica e pet
spark.sql("""
SELECT *
FROM pessoaFisica pf
JOIN pet ON pf.id_pf = pet.fk_pf
""").show(10)

+-----+------------------+-----------+-----+---------------+---------+------------+-----------+--------+------+--------+-------+--------+--------+--------+-------+--------------------+--------+-----+-----+
|id_pf|              nome|        cpf|idade|data_nascimento|     sexo|estado_civil|fk_endereco|fk_login|id_pet|    nome|especie|    raca|     cor|situacao|enfermo|           descricao|fk_login|fk_pf|fk_pj|
+-----+------------------+-----------+-----+---------------+---------+------------+-----------+--------+------+--------+-------+--------+--------+--------+-------+--------------------+--------+-----+-----+
|  899|         Ana Costa|77654321112|   30|     1993-12-20| Feminino|      Casado|          1|     300|   300|  Trixie|   Gato|  Bengal|  Marrom|   Venda|    Não|Gata cheia de ene...|     300|  899|    0|
|  898|marcelinho carioca|88765432201|   36|     1987-11-15|Masculino|  Divorciado|          2|     299|   299|   Oscar|    Cão|Labrador| Amarelo|  Adoção|    Sim|Labrador brincalh...|     299|  898|    0|
|  897|     Sofia Almeida|99876543290|   28|     1995-10-10| Feminino|    Solteiro|          3|     298|   298|   Daisy|   Gato|     SRD|   Cinza|   Venda|    Não|Gata carinhosa e ...|     298|  897|    0|
|  896|      Lucas Santos|11098765477|   34|     1989-09-20|Masculino|       Viúvo|          4|     297|   297|     Rex|    Cão|  Golden| Dourado|  Adoção|    Sim|Golden carinhoso ...|     297|  896|    0|
|  894|   Carlos Oliveira|33210987655|   36|     1987-07-10|Masculino|      Casado|          6|     295|   295|   Buddy|    Cão|   Husky|   Cinza|  Adoção|    Sim|Husky leal e prot...|     295|  894|    0|
|  895|    Bruna Ferreira|22109876566|   30|     1993-08-15| Feminino|  Divorciado|          5|     296|   296|Whiskers|   Gato|  Siamês|    Bege|   Venda|    Não|Gata tranquila e ...|     296|  895|    0|
|  893|  Fernanda Almeida|44321098744|   30|     1993-06-15| Feminino|    Solteiro|          7|     294|   294|   Amber|   Gato|  Bengal| Dourado|   Venda|    Não|Gata cheia de amo...|     294|  893|    0|
|  891|      Karina Costa|66543211022|   29|     1994-04-10| Feminino|  Divorciado|          9|     292|   292|   Bella|   Gato|   Persa|  Branco|   Venda|    Não|Gata suave e ador...|     292|  891|    0|
|  892|     Thiago Santos|55432109833|   34|     1989-05-20|Masculino|       Viúvo|          8|     293|   293|    Finn|    Cão|  Beagle|Tricolor|  Adoção|    Sim|Beagle curioso e ...|     293|  892|    0|
|  890|      Gabriel Lima|77654321111|   30|     1993-03-25|Masculino|      Casado|         10|     291|   291|   Rocky|    Cão| Pitbull|   Preto|  Adoção|    Sim|Pitbull carinhoso...|     291|  890|    0|
+-----+------------------+-----------+-----+---------------+---------+------------+-----------+--------+------+--------+-------+--------+--------+--------+-------+--------------------+--------+-----+-----+
only showing top 10 rows

In [ ]:
spark.sql("SELECT DISTINCT estado_civil FROM pessoaFisica").show()

+------------+
|estado_civil|
+------------+
|       Viúvo|
|  Divorciado|
|    Solteiro|
|      Casado|
+------------+

In [ ]:
# Relação com estado_civil com a coluna especie de pet
sql_query = """
SELECT
    pf.estado_civil,
    pet.especie,
    COUNT(*) AS total
FROM
    pessoaFisica pf
JOIN
    pet
ON
    pf.id_pf = pet.fk_pf
WHERE
    pf.estado_civil IN ('Casado', 'Solteiro', 'Viúvo', 'Divorciado')
GROUP BY
    pf.estado_civil,
    pet.especie;
"""


result = spark.sql(sql_query)
result.show()

+------------+-------+-----+
|estado_civil|especie|total|
+------------+-------+-----+
|    Solteiro|    Cão|    5|
|       Viúvo|   Gato|   37|
|       Viúvo|    Cão|   37|
|      Casado|    Cão|   70|
|    Solteiro|   Gato|   70|
|  Divorciado|    Cão|   39|
|  Divorciado|   Gato|   36|
|      Casado|   Gato|    6|
+------------+-------+-----+

In [ ]:
sql_query = """
SELECT
    pf.estado_civil,
    pet.especie,
    COUNT(*) AS total
FROM
    pessoaFisica pf
JOIN
    pet
ON
    pf.id_pf = pet.fk_pf
GROUP BY
    pf.estado_civil,
    pet.especie;
"""

# Executar a consulta
result = spark.sql(sql_query)
result.show()

+------------+-------+-----+
|estado_civil|especie|total|
+------------+-------+-----+
|    Solteiro|    Cão|    5|
|       Viúvo|   Gato|   37|
|       Viúvo|    Cão|   37|
|      Casado|    Cão|   70|
|    Solteiro|   Gato|   70|
|  Divorciado|    Cão|   39|
|  Divorciado|   Gato|   36|
|      Casado|   Gato|    6|
+------------+-------+-----+

In [ ]:
#Verificar em tabela pet os animais que estão com situação de enfermidade
df_pet.select('especie','enfermo').show()

+-------+-------+
|especie|enfermo|
+-------+-------+
|   Gato|    Não|
|    Cão|    Não|
|   Gato|    Não|
|    Cão|    Sim|
|    Cão|    Não|
|   Gato|    Não|
|   Gato|    Não|
|    Cão|    Sim|
|    Cão|    Não|
|   Gato|    Não|
|   Gato|    Não|
|    Cão|    Sim|
|    Cão|    Não|
|   Gato|    Não|
|    Cão|    Sim|
|   Gato|    Não|
|    Cão|    Não|
|   Gato|    Não|
|    Cão|    Sim|
|    Cão|    Não|
+-------+-------+
only showing top 20 rows

In [ ]:
pt = df_pet.groupBy('especie', 'enfermo').count()
pt.show()

+-------+-------+-----+
|especie|enfermo|count|
+-------+-------+-----+
|   Gato|    Não|  297|
|    Cão|    Não|   83|
|   Gato|    Sim|    2|
|    Cão|    Sim|  218|
+-------+-------+-----+

In [ ]:
#selecionar a tabela especie, raça e situação.
#para verificar se o animal ta em sistuação de venda ou não
df_pet.select('especie','raca','situacao').show()
situacao = df_pet.groupBy('especie','raca','situacao').count()
situacao.show()

+-------+--------+--------+
|especie|    raca|situacao|
+-------+--------+--------+
|   Gato|  Siamês|   Venda|
|    Cão| Pitbull|  Adoção|
|   Gato|     SRD|   Venda|
|    Cão|   Husky|  Adoção|
|    Cão|  Beagle|  Adoção|
|   Gato|   Persa|   Venda|
|   Gato|  Bengal|   Venda|
|    Cão|Labrador|  Adoção|
|    Cão|  Golden|  Adoção|
|   Gato|  Siamês|   Venda|
|   Gato|     SRD|   Venda|
|    Cão| Pitbull|  Adoção|
|    Cão|  Beagle|  Adoção|
|   Gato|  Bengal|   Venda|
|    Cão|Labrador|  Adoção|
|   Gato|   Persa|   Venda|
|    Cão|   Husky|  Adoção|
|   Gato|     SRD|   Venda|
|    Cão| Pitbull|  Adoção|
|    Cão| Bulldog|  Adoção|
+-------+--------+--------+
only showing top 20 rows

+-------+--------------------+--------+-----+
|especie|                raca|situacao|count|
+-------+--------------------+--------+-----+
|   Gato|           Britânico|   Venda|    1|
|    Cão|            Labrador|  Adoção|   46|
|    Cão|            Doberman|  Adoção|    3|
|   Gato|            Himalaia|   Venda|    1|
|    Cão|    Golden Retriever|  Adoção|    3|
|    Cão|             Terrier|  Adoção|    5|
|    Cão|          Rottweiler|  Adoção|   16|
|   Gato|                 SRD|   Venda|   52|
|    Cão|      Cocker Spaniel|  Adoção|    5|
|    Cão|     Bulldog Francês|  Adoção|    2|
|    Cão|              Beagle|  Adoção|   50|
|    Cão|             Mastiff|  Adoção|    1|
|    Cão|             Bulldog|  Adoção|   16|
|   Gato|              Bengal|   Venda|   81|
|    Cão|           Chihuahua|  Adoção|    4|
|   Gato|       Scottish Fold|   Venda|    3|
|    Cão|            Shih Tzu|  Adoção|    1|
|    Cão|       Border Collie|  Adoção|    1|
|    Cão|               Boxer|  Adoção|    3|
|    Cão|Cavalier King Charle|  Adoção|    1|
+-------+--------------------+--------+-----+
only showing top 20 rows